h1 {
  text-align: center
}

html {
  font-family: Helvetica Neue, Arial, sans-serif;
  background: whitesmoke;
}

label {
  width: 100%;
}

form-style{

    border-width: 500px;
    position: center;
    background-color: green; 
}

input[type=form]{
    border-width: 500px;
    position: center;
}

